.card-img-top{
    height: 200px;
    object-fit: contain;
}

.card-title{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.accordion{
  --bs-accordion-btn-bg: #c41515;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

#finalizarCompra:disabled {
  color: white !important;
  cursor: not-allowed;
  opacity: 0.5;
  box-shadow: none;
}